.layout {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
        "footer footer";  
    grid-template-rows: 100px 60px 100vh 150px;     
}
.cabeÇalho {
    grid-area: header;
    background-color: #ccc;
}

.menu {
    grid-area: nav;
    background-color: #ccc;
}

.principal {
    grid-area: main;
    background-color: #ccc;
}
.rodape {
    grid-area: footer;
    background-color: #ccc;
}

a {
    float: right;
    margin-top: 10px;
    padding: 10px;
    color: black;
    font-size: 25px;

}
.pesquisar {
    margin-top: 18px;
    margin-left: 8px;
    padding: 4px;
    
}
.btn {
    padding: 4px;
    cursor: pointer;
}
.titulo {
    position: absolute;
    margin-top: 50px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    font: 45px verdana;
}

.titnoticia{
    color: blue;
}
#pcp{
    display: flex;
    flex-wrap: wrap;
}
.not{
    width: 350px;
    box-shadow: 0px 0px 5px black;
    margin: 10px;
}
.click {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 6px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display:inline;
    height:10px;
}
.like {
    display:inline;
    height:10px;
    border: none;
    font-size: 20px;

}
